body {
    background-color: blanchedalmond;
    font-family: 'Open Sans', sans-serif;
}
 img {
        max-width: 95%;
        height: 250px;
        width: auto;
        border: 1px solid black;
        margin-bottom: 10px;
}
.card {
    margin-bottom: 15px;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 5px;
    padding-top: 5px;

}
/*#card {
    max-height: 500px;
}

.card {
    max-height: 400px;
}

/*.card-body {
    align-items: center;

}*/  